.header-contents {
    max-width: 390px;
    height: 60px;
    margin: 0 auto;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}

.header-main_page_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-other_page_header {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pageTitle {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
}

.header-back_btn {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-home_btn {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu_btn {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-cart_btn {
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-main_page_title {
    font-size: 20;
    font-weight: 600;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-other_page_title {
    font-size: 20;
    font-weight: 600;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-Login_btn{
    width: 20%;
}