.kakao-login{
    display: flex;
    justify-content: center;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* 배경색과 크기 전환을 부드럽게 */
}
  .kakao-login:hover {

    transform: scale(1.05); /* 호버 시 버튼을 5% 확대 */
  }