.swiper-container {
    position: relative;
  
  }
  
  .swiper-button-next, .swiper-button-prev{
    display: none;
  }
  
  .slide-content {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
  
  }
  
  .swiper-container h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 4px;
  }

  /* Search.css */
.search-container {
  margin-top: 20px;
  text-align: center;
}

.search-box {
  max-width: 400px;
  margin: 0 auto;
}
