.order-history-content{
    padding: 15px;
    max-height: 760px; 
    overflow-y: auto; 
}

  
  .order-history-title {
   padding-left: 15px;
  }
  
  .order-card {
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

  }
  
  .order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
  
  }
  
  .order-date {
    margin: 0;
  }
  
  .order-detail-info {
    color: #888;
    font-size: 0.9em;
  }
  
  .order-item {
    padding: 5px 3px;
  }
  
  .order-image {
    width: 100%;
    border-radius: 8px;
  }
  
  .order-details {
    padding-left: 20px;
  }
  
  .order-name {
    margin: 0;
  }
  
  .order-description {
    font-size: 0.9em;
  }
  
  .order-price {
    font-size: 1em;
    color: #333;
  }
  
  .order-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
  
  .order-button {
    margin-bottom: 5px;
    background-color: #f9f9f9;
    color: #333;

    border: 1px solid #d9d9d9;
  }
  