.order-detail-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.order-info {
    border-bottom: 1px solid #ddd;

}

.order-date {
    font-size: 16px;
    color: #333;
    
}

.order-number {
    font-size: 14px;
    color: #666;
    margin-top: 0;
    margin-top: 5px;
}

.customer-info {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.customer-name,
.customer-phone,
.customer-address {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
    font-weight: 600;
}

.product-list {
    margin-bottom: 20px;
}

.product-list-title {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.product-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.product-item:last-child {
    border-bottom: none;
}

.product-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.product-info {
    flex: 1;
}

.product-designer,
.product-name,
.product-price {
    margin: 0;
    color: #333;
}

.product-designer {
    font-weight: bold;
}

.product-name {
    color: #555;
}

.product-price {
  margin-top: 10px;
}

.designer-info {
    color: #888;
    font-size: 14px;
    text-align: right;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.total-price-text {
    font-size: 18px;
    color: #333;
}

.price {
    color: #1E90FF;
    font-size: 18px;
}
