body {
  margin: 0;
  background-color: rgb(245, 245, 245);
}

/* 모바일 크기 고정 */
.mobile-container {
  max-width: 390px;
  width: 100%;
  height: 105vh;
  background-color: rgb(255, 255, 255); /* 모바일 컨테이너 배경색 설정 */
  margin-left: auto;
  margin-right: auto;
}

/* 웹 화면 크기 */
.web-container {
  width: 100%;
  height: 100vh;
}
